* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    margin: auto;
    width: 960px;
    font-family: 'Poppins', sans-serif;
  }
  form *{
    display: block;
    text-align: center;
    margin: auto;
    width: 400px;
  }


  